<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master-layout/master-layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>eLibrary - a demo spring boot webapp featuring CRUD - New Book Form</title>
</head>
<body>

<div style="padding-top:1em;" class="container">
    <th:block layout:fragment="content">
        <div style="margin-bottom: 1em;">
            <span style="font-size: 2em; color: #32a5e7;">New Book Form</span>
        </div>

        <form id="newCustomerForm" method="post" th:action="@{${page_links.get('ACCOUNTTYPE_ADD_URL')}}" th:object="${accounttype}">
            <fieldset>
                <input type="hidden" name="accountTypeId" th:value="${accounttype.accountTypeId}"/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="accountTypeName">Account Name</label>
                            <span th:if="${#fields.hasErrors('accountTypeName')}" th:errors="*{accountTypeName}"
                                  class="alert alert-danger"></span>
                            <input id="accountTypeName" name="accountTypeName" type="text" placeholder="e.g: Savings, etc" class="form-control"
                                   th:value="${accounttype.accountTypeName}">
                        </div>
                    </div>
                </div>
                <div style="float:right;">
                    <a th:href="@{${page_links.get('ACCOUNTTYPE_LIST_URL')}}" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save Account Type</button>
                </div>
            </fieldset>
        </form>
    </th:block>


</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>